nav {
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: white;
}

.my-container-fluid {
    max-width: 1400px;
    margin: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.no-li-symbol li {
    list-style-type: none;
}

.blue-square-li-symbol li {
    list-style: none;
}

.blue-square-li-symbol li a {
    color: black;
    text-decoration: none;
}

.blue-square-li-symbol li a:hover {
    color: #0070d1;
    text-decoration: underline;
}

.blue-square-li-symbol li::before {
    content: "\25A0";
    color: #0070d1;
    display: inline-block; 
    width: 1.5rem;
    margin-left: -1rem;
}

.nav-link:hover {
    color: #0070d1!important;
}

.nav-link:focus {
    color: #0070d1!important;
}

.my-drop-visible {
    width: 12px;
    display: inline-block;
}

.my-drop-non-visible {
    width: 12px;
    display: none;
    transition-duration: .3s;
}

.dropdown-menu {
    width: 100vw;
    border: none;
    border-radius: 0;
    margin-top: 0!important;
}

.nav-link:hover .my-drop-non-visible {
    display: inline-block;
}

.nav-link:focus .my-drop-non-visible {
    transform: rotate(-180deg);
    display: inline-block;
}

.nav-link:hover .my-drop-visible {
    display: none;
}

.nav-link:focus .my-drop-visible {
    display: none;
}

.dropdown-menu {
    width: 100vw;
}

.my-container-small {
    max-width: 700px;
    margin: auto;
}


.sony-logo {
    width: 80px;
    display: inline-block;
}

.sony-logo img {
    width: 100%;
}

.my-btn {
    border-radius: 50px;
}

.my-button-orange {
    background-color: orange;
    border-color: orange;
    color: white;
}

.my-button-orange:hover {
    color: white;
}

.my-search-icon {
    display: inline-block;
    width: 25px;
}

.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.jumbo-2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.jumbo-main {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-container img {
    width: 100%
}

.jumbotron .img-container {
    width: 200px;
}

.jumbo-2 .img-container {
    width: 200px;
}

.jumbotron p {
    padding-right: 3rem;
}

.play-card-section .img-container img {
    border-radius: 20px;
    transition-duration: .3s;
    cursor: pointer;
}

.play-card-section .img-container img:hover {
    transform: translateY(-25%);
}

.playstation5-section .wrapper {
    cursor: pointer;
}

.bottom-border {
    border-bottom: 2px solid #0070d1;
}

.bottom-hover-border {
    border-bottom: 2px solid transparent;
}

.bottom-hover-border:hover {
    border-color: #0070d1;
    opacity: 1!important;
}

.border-offset {
    outline: 2px solid #04449C;
    outline-offset: 4px;
}

.new-games .wrapper img {
    border-radius: 10px;
}

.full-height {
    height: 100%;
}

.playstation-plus {
    background-color: #BFBCBB;
}

.playstation-plus .img-container {
    width: 300px;
}

.playstation-now {
    background-color: #151C3B;
}

.playstation-now .img-container {
    width: 300px;
}

footer {
    background-color: #04449C;
}

footer .foot-1 .foot-1-logo {
    width: 150px;
}

.foot-1-language .img-container {
    width: 30px;
    margin-right: 1rem;
}

.foot-2 {
    padding: 3rem 0;
}

.foot-2 li {
    padding: 0.5rem 0;
    list-style-type: none;
}

.foot-3 .img-container {
    width: 120px;
    margin-right: 1rem;
}

.absolute-full-end {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    display: none;
}

.playstation-now .absolute-full-end {
    right: 20px;
}

.absolute-full-end img {
    height: 100%;
}

.btn::after {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border: 2px solid black;
    border-color: inherit;
    border-radius: 50rem;
    opacity: 0;
}

.btn:hover::after {
    opacity: 1;
}

.btn {
    position: relative;
}


@media screen and (min-width: 576px) {
    .jumbo-main {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .my-container-fluid {
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .playstation5-section .wrapper .img-container {
        max-width: 180px;
        margin-bottom: 1rem;
    }

    .playstation5-section .wrapper p {
        max-width: 180px;
    }

    .jumbotron p {
        padding-right: 3rem;
    }

    .jumbo-2 p {
        padding-right: 3rem;
    }

} 

@media screen and (min-width: 768px) {
    .absolute-full-end {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .jumbotron {
        min-height: 700px;
    }

    .jumbotron .img-container {
        width: 300px;
    }

    .jumbo-2 {
        min-height: 700px;
    }

    .jumbo-2 .img-container {
        width: 300px;
    }

    .foot-2 {
        padding: 0;
    }

    .playstation-now {
        height: 550px;
        background-position: 80% 0%;
    }
}

@media screen and (min-width: 1200px) {
    .playstation-plus {
        height: 450px;
        background-position: 80% 0%;
    }

    .playstation-plus .wrapper {
        padding-top: 5rem;
    }


    .playstation-now .wrapper {
        padding-top: 5rem;
    }
}
