nav {
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: white;
}

.my-container-fluid {
    max-width: 1400px;
    margin: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.my-container-small {
    max-width: 700px;
    margin: auto;
}

.sony-logo {
    width: 80px;
    display: inline-block;
}

.sony-logo img {
    width: 100%;
}

.my-btn {
    border-radius: 50px;
}

.my-button-orange {
    background-color: orange;
}

.my-search-icon {
    font-size: 1.2rem;
}

.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.jumbo-2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.jumbo-main {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-container img {
    width: 100%
}

.jumbotron .img-container {
    width: 200px;
}

.jumbo-2 .img-container {
    width: 200px;
}

.jumbotron p {
    padding-right: 3rem;
}

.play-card-section .img-container img {
    border-radius: 20px;
}

.new-games .wrapper img {
    border-radius: 10px;
}

.full-height {
    height: 100%;
}

.playstation-plus {
    background-color: #BFBCBB;
}

.playstation-plus .img-container {
    width: 300px;
}

.playstation-now {
    background-color: #151C3B;
}

.playstation-now .img-container {
    width: 300px;
}

footer {
    background-color: #04449C;
}

footer .foot-1 .foot-1-logo {
    width: 150px;
}

.foot-1-language .img-container {
    width: 30px;
    margin-right: 1rem;
}

.foot-2 {
    padding: 3rem 0;
}

.foot-2 li {
    padding: 0.5rem 0;
    list-style-type: none;
}

.foot-3 .img-container {
    width: 120px;
    margin-right: 1rem;
}

@media screen and (min-width: 576px) {
    .jumbo-main {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .my-container-fluid {
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .playstation5-section .wrapper .img-container {
        max-width: 180px;
        margin-bottom: 1rem;
    }

    .playstation5-section .wrapper p {
        max-width: 180px;
    }

    .jumbotron p {
        padding-right: 3rem;
    }

    .jumbo-2 p {
        padding-right: 3rem;
    }

} 

@media screen and (min-width: 768px) {

    .playstation-plus {
        background-image: url("../img/ps-plus-april-monthly-games-featured-image-block.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 95% 0%;
    }

    .playstation-now {
        background-image: url("../img/ps-now-april-featured-image-block.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 95% 0%;
    }
}

@media screen and (min-width: 992px) {
    .jumbotron {
        min-height: 700px;
    }

    .jumbotron .img-container {
        width: 300px;
    }

    .jumbo-2 {
        min-height: 700px;
    }

    .jumbo-2 .img-container {
        width: 300px;
    }

    .foot-2 {
        padding: 0;
    }
}

@media screen and (min-width: 1200px) {
    .playstation-plus {
        height: 450px;
        background-position: 80% 0%;
    }

    .playstation-plus .wrapper {
        padding-top: 5rem;
    }

    .playstation-now {
        height: 450px;
        background-position: 80% 0%;
    }

    .playstation-now .wrapper {
        padding-top: 5rem;
    }
}
