nav {
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: white;
}

.my-container-fluid {
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}

.sony-logo {
    width: 80px;
    display: inline-block;
}

.sony-logo img {
    width: 100%;
}

.my-btn {
    border-radius: 50px;
}

.my-button-orange {
    background-color: orange;
}

.my-search-icon {
    font-size: 1.2rem;
}

.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.jumbo-2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.jumbo-main {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-container img {
    width: 100%
}

.jumbotron .img-container {
    width: 200px;
}

.jumbo-2 .img-container {
    width: 200px;
}

.jumbotron p {
    padding-right: 3rem;
}

.play-card-section .img-container img {
    border-radius: 20px;
}

@media screen and (min-width: 576px) {
    .jumbo-main {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .my-container-fluid {
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .playstation5-section .wrapper .img-container {
        max-width: 180px;
        margin-bottom: 1rem;
    }

    .playstation5-section .wrapper p {
        max-width: 180px;
    }

    .jumbotron p {
        padding-right: 3rem;
    }

    .jumbo-2 p {
        padding-right: 3rem;
    }

} 

@media screen and (min-width: 992px) {
    .jumbotron {
        min-height: 700px;
    }

    .jumbotron .img-container {
        width: 300px;
    }

    .jumbo-2 {
        min-height: 700px;
    }

    .jumbo-2 .img-container {
        width: 300px;
    }
}
